.contact {
  text-align: center;
  padding: 50px 20px;
}
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.contact input,
.contact textarea {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.contact button {
  background: #f39c12;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.contact button:hover {
  background: #d35400;
}
